.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/

*build
*.lock
script/
other/
examples/FastEPD_factory/
examples/sx1262_recv_mic_fcc/
examples/sx1262_send_mic_fcc/
debug.md
